* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  background: linear-gradient(45deg, #010758, #490d61);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textToVoice h1 {
  color: #fff;
  font-size: 37px;
  margin-top: -50px;
  margin-bottom: 40px;
  font-weight: 500;
  letter-spacing: 2px;
}

.textToVoice h1 span {
  color: #ff2963;
  border-bottom: 3px solid #fff;
  padding-bottom: 5px;
}

.textToVoice {
  text-align: center;
  width: 600px;
}

#enteredText {
  background-color: #403d84;
  width: 600px;
  border-radius: 10px;
  resize: unset;
  height: 250px;
  padding: 20px;
  font-size: 15px;
  border: none;
  outline: none;
  color: #fff;
  margin-bottom: 30px;
}

#enteredText::placeholder {
  font-size: 16px;
  color: #ddd;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

#listenBtn {
  padding: 12.5px 32px;
  background-color: #ff2963;
  font-size: 16px;
  color: #fff;
  border-radius: 35px;
  border: none;
  outline: none;
  cursor: pointer;
}

select {
  width: 1%;
  background-color: #403d84;
  flex: 1;
  color: #fff;
  height: 45px;
  padding: 0 20px;
  border-radius: 35px;
  border: none;
  outline: none;
  appearance: none;
  cursor: pointer;
  display: block;
}

.chevron {
  position: absolute;
  color: #fff;
  right: 18px;
  font-size: 14px;
}

.select_main {
  display: flex;
  flex: 1;
  position: relative;
  align-items: center;
}
